* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  background: transparent;
}

img {
  width: 100%;
  border-top-right-radius: .7rem;
  border-top-left-radius: .7rem;
}

.container .desktop-img {
  display: none;
}

html, body {
  padding: .8rem;
  font-family: "Montserrat", sans-seri;
  background-color: hsl(30, 38%, 92%);
}

.container .info{
  margin-top: -.5rem;
  display: grid;
  row-gap: 1rem;
  padding: 1rem;
  background-color: white;
  margin-bottom: 3rem;
  height: 100%;
}

.container .info .brand {
  color: gray;
  font-weight: 500;
  letter-spacing: 3px;
}
.container .info .name-brand {
  font-size: 2.2rem;
}
.container .info p {
  font-size: .888rem;
  color: rgba(100, 100, 100, 1);
}
.container .info .diskon-price {
  display: flex;
  align-items: center;
  color: hsl(158, 36%, 37%);
}

.container .info .diskon-price .real-price {
  margin-left: .8rem;
  font-size: .677rem;
  text-decoration: line-through;
  color: rgba(100, 100, 100, 1);
}

.container .info button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(158, 36%, 37%);
  color: white;
  padding: 1.1rem 1.1rem;
  border-radius: .8rem;
  transition: .4s;
}

.container .info button:active {
  background-color: hsl(212, 21%, 14%);
  cursor: pointer;
}

.container .info button i {
  margin-right: .5rem;
}

/* transform all font family */
.container .info .name-brand,
.container .info .diskon-price {
  font-family: "Fraunces", serif;
}